 <!DOCTYPE html>
<html lang="pl">
<head>
    <title>Temperatura</title>
    <meta charset="utf-8">
    <script src="//www.google.com/jsapi"></script>
    <script src="chartkick.js"></script>
    <script type="text/javascript">
function loadXMLDoc() {
  req = new XMLHttpRequest();
  req.onreadystatechange = function() {
    if (req.readyState == 4 && req.status == 200) {
      document.getElementById("dateAndIP").innerHTML = req.responseText.slice(0, 40);
      document.getElementById("temperature").innerHTML = "Temperatura: " + req.responseText.slice(42, 50);
      document.getElementById("humidity").innerHTML = "Wilgotność: " + req.responseText.slice(52);
    }
  } // end of onreadstatechange function
  req.open("GET", "sensor1.txt", true);
  req.send();

  setTimeout(function(){
    loadXMLDoc();
  }, 1500); 
} // end of loadXMLDoc()

function loadXMLDoc2() {
req2=new XMLHttpRequest();
req2.onreadystatechange=function() {
if (req2.readyState==4 && req2.status==200) {
document.getElementById("div2").innerHTML=req2.responseText;
}
} // end of onreadstatechange function
req2.open("GET","humidity.txt",true);
req2.send();

setTimeout(function(){
loadXMLDoc2();

},1500); 
} // end of loadXMLDoc()
</script>
 </head>
 <body>
 <p>
 <p>Czujnik nr 1:</p>
    <div id="dateAndIP">Wczytywanie...</div>
    <div id="temperature">Wczytywanie temperatury...</div>
    <div id="humidity">Wczytywanie wilgotności...</div>
    <!--<div id="div2">Wczytywanie wilgotności...</div>-->
   <script type="text/javascript">
loadXMLDoc();
//<!--loadXMLDoc2();-->
</script>
 
 	<ul>
 	      <% @measurements.each do |measurement| %>
        <li>
          <strong><%= measurement.temperature %></strong> C
          <%= measurement.created_at %>
          <a href="destroyMeasurement?id=<%= measurement.id %>" style="font-size: small; color: blue;">Usuń</a>
        </li>
       
      <% end %>
   </ul>
  <hr>




<%= column_chart @data_for_chart, height: "500px" %>
<%= column_chart @average_by_day, height: "500px" %>
<pre>
<%= @average_by_day.to_s %>
</pre>
<br>
<!-- <button onclick="myFunction()">Reload page</button> -->

<script>
function myFunction() {
    location.reload();
}
</script>
<!--
<div id="div1">current value</div>

<input type="button" id="button1" value="click me!" onclick="loadXMLDoc()"/>
-->
 </p>
</body>
