 <!DOCTYPE html>
<html lang="pl">
<head>
    <title>Temperatura</title>
    <meta charset="utf-8">
    <link rel="Stylesheet" type="text/css" href="style.css" />
    <script src="//www.google.com/jsapi"></script>
    <script src="chartkick.js"></script>
    <script type="text/javascript">
function loadMeasurement() {
  req = new XMLHttpRequest();
  req.onreadystatechange = function() {
    if (req.readyState == 4 && req.status == 200) {
      var lines = req.responseText.split("\n");
      document.getElementById("date").innerHTML = lines[0];
      document.getElementById("ip").innerHTML = lines[1];
      document.getElementById("status").innerHTML = lines[2];
      document.getElementById("temperature").innerHTML = "Temperatura: " + lines[3]
      document.getElementById("humidity").innerHTML = "Wilgotność: " + lines[4]
    }
  } // end of onreadstatechange function
  req.open("POST", "room1-lastMeasurements.txt", true);
  req.send();

  setTimeout(function(){
    loadMeasurement();
  }, 1500); 
} // end of loadXMLDoc()

function loadMovement() {
  req2 = new XMLHttpRequest();
  req2.onreadystatechange = function() {
    if (req.readyState == 4 && req.status == 200) {
      document.getElementById("dateOfMovement").innerHTML = "Ostatni ruch: " + req2.responseText;
    }
  } // end of onreadstatechange function
  req2.open("POST", "room1-lastMovement.txt", true);
  req2.send();

  setTimeout(function(){
    loadMovement();
  }, 1500); 
} // end of loadMovement()

</script>
 </head>
<body>
  <div>
    <div id="rooms">
    <div id="room1">
    <!--<p>Czujniki temperatury i wilgotności nr 1:</p>-->
    <div id="date">Wczytywanie daty...</div>
    <div id="ip">Wczytywanie adresu IP...</div>
    <div id="status">Wczytywanie statusu...</div>
    <div id="temperature">Wczytywanie temperatury...</div>
    <div id="humidity">Wczytywanie wilgotności...</div>
    <!--<div id="div2">Wczytywanie wilgotności...</div>-->
    <script type="text/javascript">
      loadMeasurement();
//<!--loadXMLDoc2();-->
    </script>
 
    <!--<p>Czujnik ruchu nr 1:</p>-->
    <div id="dateOfMovement">Wczytywanie danych o ruchu...</div>
    <script type="text/javascript">
      loadMovement();
//<!--loadXMLDoc2();-->
    </script>
  </div>
  </div>
 	<ul>
 	      <% @measurements.each do |measurement| %>
        <li>
          <strong><%= measurement.temperature %></strong> C
          <strong><%= measurement.humidity %></strong> %
          <strong><%= measurement.place_name %></strong>
          <strong><%= measurement.status %></strong>
          <%= measurement.created_at %>
          <a href="destroyMeasurement?id=<%= measurement.id %>" style="font-size: small; color: blue;">Usuń</a>
        </li>
       
      <% end %>
   </ul>
  <hr>




<%= column_chart @data_for_chart, height: "500px" %>
<%= column_chart @average_by_day, height: "500px" %>
<pre>
<%= @average_by_day.to_s %>
</pre>
<br>
<!-- <button onclick="myFunction()">Reload page</button> -->

<script>
function myFunction() {
    location.reload();
}
</script>
<!--
<div id="div1">current value</div>

<input type="button" id="button1" value="click me!" onclick="loadXMLDoc()"/>
-->
 </div>
</body>
