<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Temperatura</title>
  <meta charset="utf-8">
  <link rel="Stylesheet" type="text/css" href="style.css"/>
  <script src="//www.google.com/jsapi"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script>
    function loadLastMeasurements(placeName) {
      setInterval(function() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
          if (req.readyState === 4 && req.status === 200) {
            var lines = req.responseText.split("\n");
            $("#" + placeName + " > .temperature")[0].innerHTML = "Temperatura: " + lines[0];
            $("#" + placeName + " > .humidity")[0].innerHTML = "Wilgotność: " + lines[1];
            $("#" + placeName + " > .status")[0].innerHTML = "Status czujnika: " + lines[2];
            $("#" + placeName + " > .date")[0].innerHTML = "Odebrano: " + lines[3];
            $("#" + placeName + " > .ip")[0].innerHTML = "Z adresu IP: " + lines[4];
          }
        }
        req.open("POST", placeName + "-lastMeasurements.txt", true);
        req.send();
      }, 1500);
    }

    function loadLastMovement(placeName) {
      setInterval(function() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
          if (req.readyState === 4 && req.status === 200) {
            $("#" + placeName + " > .dateOfMovement")[0].innerHTML = "Ostatni ruch: " + req.responseText;
          }
        }
        req.open("POST", placeName + "-lastMovement.txt", true);
        req.send();
      }, 1500);
    }
  </script>
  <script src="chartkick.js"></script>
</head>
<body>
<div id="rooms">
  <div id="room1">
    <div class="temperature">Wczytywanie temperatury...</div>
    <div class="humidity">Wczytywanie wilgotności...</div>
    <div class="dateOfMovement">Wczytywanie danych o ruchu...</div>
    <div class="status">Wczytywanie statusu...</div>
    <div class="date">Wczytywanie daty...</div>
    <div class="ip">Wczytywanie adresu IP...</div>
    <script>
      loadLastMeasurements("room1");
      setTimeout(function () {
        loadLastMovement("room1");
      }, 200);
    </script>
  </div>

  <div id="room2">
    <div class="temperature">Wczytywanie temperatury...</div>
    <div class="humidity">Wczytywanie wilgotności...</div>
    <div class="dateOfMovement">Wczytywanie danych o ruchu...</div>
    <div class="status">Wczytywanie statusu...</div>
    <div class="date">Wczytywanie daty...</div>
    <div class="ip">Wczytywanie adresu IP...</div>
    <script>
      setTimeout(function () {
        loadLastMeasurements("room2");
      }, 400);
      setTimeout(function () {
        loadLastMovement("room2");
      }, 600);
    </script>
  </div>

  <div id="room3">
    <div class="temperature">Wczytywanie temperatury...</div>
    <div class="humidity">Wczytywanie wilgotności...</div>
    <div class="dateOfMovement">Wczytywanie danych o ruchu...</div>
    <div class="status">Wczytywanie statusu...</div>
    <div class="date">Wczytywanie daty...</div>
    <div class="ip">Wczytywanie adresu IP...</div>
    <script>
      setTimeout(function () {
        loadLastMeasurements("room3");
      }, 800);
      setTimeout(function () {
        loadLastMovement("room3");
      }, 1000);
    </script>
  </div>
</div>
<ul>
  <% @measurements.each do |measurement| %>
  <li>
    <strong><%= measurement.temperature %></strong> C
    <strong><%= measurement.humidity %></strong> %
    <strong><%= measurement.place_name %></strong>
    <strong><%= measurement.status %></strong>
    <%= measurement.created_at %>
    <a href="destroyMeasurement?id=<%= measurement.id %>" style="font-size: small; color: blue;">Usuń</a>
  </li>

  <% end %>
</ul>
<hr>


<%= column_chart @data_for_chart, height: "500px" %>
<%= column_chart @average_by_day, height: "500px" %>
<pre>
<%= @average_by_day.to_s %>
</pre>
</body>
</html>